* {
  background-color: rgb(192, 213, 250);
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
